@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(24, 43, 150);
  box-shadow: 32px 0 rgb(24, 43, 150), -32px 0 rgb(24, 43, 150);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(5, 1, 29, 0.11);
    box-shadow: 32px 0 rgba(5, 1, 29, 0.11), -32px 0 rgb(24, 43, 150);
  }
  50% {
    background-color: rgb(24, 43, 150);
    box-shadow: 32px 0 rgba(5, 1, 29, 0.11), -32px 0 rgba(5, 1, 29, 0.11);
  }
  100% {
    background-color: rgba(5, 1, 29, 0.11);
    box-shadow: 32px 0 rgb(24, 43, 150), -32px 0 rgba(5, 1, 29, 0.11);
  }
} */
      